h1 a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.logo {
    height: 50px; /* Ajusta la altura del logo */
    margin-right: 20px; /* Espacio entre el logo y el título */
}
header {
    /*position: fixed; /* Fija el header en la parte superior */
    top: 0;          /* Lo coloca en la parte superior */
    left: 0;         /* Lo alinea a la izquierda */
    width: 100%;     /* Ocupa el ancho completo de la página */
    background-color: #233752; /* Color de fondo */
    color: white;    /* Color del texto */
    padding: 10px 0; /* Espaciado interno */
    z-index: 1000;   /* Asegura que el header esté por encima de otros elementos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para efecto visual */
}

h1.link_tienda  a{
    color: black;
    text-decoration:underline;
}
body {
     background: linear-gradient(190deg, #cedcf7, #e3edf7); 
   /*  background-attachment: fixed; */
    margin: 0;
   /*  height: 100vh; */
    font-family: Arial, sans-serif;
    color: white;
}
.btn{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.card-body{
    border-color: transparent;
 /*    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
    
}
.enlace-negro {
    color: rgba(12, 13, 21, 0.674); /* Color normal */
    text-decoration: none; /* Quita el subrayado */
}

.enlace-negro:hover {
    color: rgb(21, 1, 1); /* Color al pasar el mouse */
}
/* Header fijo 
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    z-index: 1000;
}

.fixed-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.fixed-header h1 {
    margin: 0;
}

.fixed-header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.fixed-header nav ul li {
    margin-left: 20px;
}

.fixed-header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.fixed-header nav ul li a:hover {
    text-decoration: underline;
}
*/
/* Espacio para el contenido debajo del header */
.content {
    margin-top: 70px; /* Espacio para que no quede tapado por el header fijo */
    padding: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #233752;
    color: white;
}