{% extends "Mi_negocio/layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<ul class="content">
    {% if user.is_authenticated %}
    <h1>
    Hola {{ user.username }}!
    </h1>
    {% else %}
    <h1 style="color: black;">No esta logueado</h1>
    
    {% endif %}
<div class="item">
    
    <a href="{% url 'listar_tiendas'%}" style="text-decoration: none; color: inherit;"><button class="btn btn-secondary"><div class="enlace-negro">Ver Tiendas</div></button></a>
    
</div>
<p>

</p>

<div class="item">
   
    <a href="{% url 'lista_articulos'%}" style="text-decoration: none; color: inherit;"> <button class="btn btn-secondary"><div class="enlace-negro">Lista articulos</div></button></a>
</button>
</div>
<p>
    
</p>
{% if user.is_authenticated %}
<div class="item">

<div>
    <a href="{% url 'crear_tienda'%}" style="text-decoration: none; color: inherit;"><button class="btn btn-primary"><div class="enlace-negro">Crear Tienda</div></button></a>
</div>
</button>
</div>
{%endif%}
</ul>
{% endblock body%}