{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi_negocio</title>
    <link rel="stylesheet" href="{% static 'Mi_negocio/style.css' %}">
</head>
<body>
    <header class="fixed-header">
        <div class="container">
            <h1 id="logo"><a href="{%url 'index'%}">Mi_negocio</a></h1>
            <nav>
                <ul>
                    <li><a href="{% url 'index'%}">Inicio</a></li>
                        <li><a href="#">Acerca de</a></li>
                        <li><a href="{% url 'lista_articulos'%}">Lista de articulos</a></li>
                     
                        <li><a href="https://github.com/carlosr301101">Contacto</a></li>
                        {% if user.is_authenticated %}
                        <li>{{ user.username }}</li>
                        {%else%}
                        <li>
                        <form action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Login</button>
                        </form>
                        </li>
                        {%endif%}
                        <li>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Log Out</button>
                        </form>
                        
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Contenido principal -->
    <div class="content">
        {% block body %}
        {% endblock body %}
    </div>

    <footer>
        <p>&copy; 2025 @int_64</p>
    </footer>
</body>
</html>