{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi_negocio</title>
    <link rel="stylesheet" href="{% static 'Mi_negocio/style.css' %}">
    {#  Bootstrap  #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/v5-font-face.min.css" integrity="sha512-dC4AauJwDHOpEpJi2/BsDf/b9vyLVt79nmO0x5gQWbRm62Q/xFS9iZpzCOFNLjTQsAD4mp9jJel6nPAjnBN2Ag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js" integrity="sha512-b+nQTCdtTBIRIbraqNEwsjB6UvL3UEMkXnhzd8awtCYh0Kcsjl9uEgwVFVbhoj3uu1DO1ZMacNvLoyJJiNfcvg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    
</head>
<body >

<header class="p-3 text-bg-dark">
    <div class="container-fluid flex-wrap">
    <div class="row align-items-center">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="{% static 'Mi_negocio/logo.png' %}" alt="Logo de la empresa" class="logo">
          Mi_negocio<svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            
            <li><a href="#" class="nav-link px-2 text-white">Acerca de</a></li>
            <li><a href="{% url 'lista_articulos'%}" class="nav-link px-2 text-white">Lista de articulos</a></li>
         
            <li><a href="https://github.com/carlosr301101" class="nav-link px-2 text-white">Contacto</a></li>
            
        </ul>
        {% if user.is_authenticated %}
        <li style="padding-right: 25px; color: aliceblue;">{{ user.username }}</li>
        {%endif%}
         
        
        </form> 

        <div class="text-end">
        
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
           
                <a class="enlace-negro" href="{%url 'buscar_articulo' %}">
                <!-- <form action="{% url 'buscar_articulo' %} "   role="search" method="get"> -->
                    <button type="submit"  class="btn btn-outline-secondary me-2" >Buscar_articulo</button>
               <!--  </form> -->
                </a>

                <a class="enlace-negro" href="{%url 'login' %}">
                <!-- <form action="{% url 'login' %}" method="post"> -->
                    {% csrf_token %}
                <button type="submit"  class="btn btn-outline-light me-2" >Login</button>
               <!--  </form> -->
             </a>
          
            
        
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
          <button type="submit" class="btn btn-warning">Logout</button>
         </form>
        </ul>

        </div>
      </div>
    </div>
  
    </div>
  </header>


    <!-- Contenido principal -->
    <div class="container-flex ">
      <div>
        {% block body %}
        {% endblock body %}
      </div>
      </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <footer >
        <p>&copy; 2025 @int_64</p>
    </footer>
</body>
</html>
