{% extends "Mi_negocio/layout.html" %}
{% block body %}
    <h1>Lista de Artículos</h1>
    {% if tiendas %}
        <ul>
            <div class="container mt-5">
                <div class="row">
            {% for tienda in tiendas %}
            {%if tienda.articulos.all%}
            <li>
            <h1 class="link_tienda">
               
                <a href="{% url 'ver_tienda' tienda_id=tienda.id %}"> {{tienda.nombre}}</a>
            </h1>
            </li>

            {%for articulo in tienda.articulos.all%}
            
                <div>
                    <h2>{{ articulo.titulo }}</h2>
                    <img src="{{ articulo.imagen.url }}" alt="{{ articulo.titulo }}" width="200">
                    <p>{{ articulo.descripcion }}</p>
                    <p>{{articulo.precio}}$</p>
                   <!--  <p>Publicado el: {{ articulo.fecha_publicacion }}</p> -->
                </div>
                

            {% endfor %}
            {%else%}
            {%endif%}
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay artículos disponibles.</p>
    {% endif %}
    </div>
</div>
{% endblock body%}